@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
}

@font-face {
  font-family: "DK Longreach";
  src: url(../fonts/DK\ Longreach.otf);
}
/* FUENTES Y COLORES DE TEXTO */
h1 {
  font-size: 4em;
  color: black;
  font-family: "DK Longreach";
}

#titulo-bandas {
  font-size: 0.5em;
  text-align: center;
}

.cabecera h1 {
  font-size: 4em;
  color: white;
  font-family: "DK Longreach";
}
.cabecera p {
  font-weight: bolder;
  color: white;
}

h2, h3 {
  font-size: 5vw;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  overflow: hidden;
  color: black;
  font-family: "DK Longreach";
}

h3 {
  font-size: 3em;
}

body {
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../media/fondo\ blanco.jpg);
}

/* SEPARACIÓN GRIDS */
.cabecera, .bandas, .sponsors, .mapas, .pie, .nosotros, .entradas1 {
  margin-bottom: 30px;
}

/* Inicio Barra Navegación */
.navbar {
  position: sticky;
  width: 100%;
  background-color: rgba(180, 157, 157, 0.212);
  overflow: visible;
}

.nav-item {
  margin-left: 100px;
}

.nav-link {
  font-weight: bold;
}

/* Fin Barra de Navegación */
/* PAGINA INDEX */
/* HEADER */
.cabecera {
  align-items: center;
  text-align: center;
  background-position: bottom;
  height: 350px;
  padding: 40px;
  background-image: url(../media/PUBLICO1.jpg);
}

.carousel-inner img {
  width: 100%;
  aspect-ratio: 4/2;
}
.carousel-inner h3 {
  font-size: 4vw;
  font-weight: bolder;
  overflow: hidden;
  color: white;
}

/* SPONSORS */
.sponsors {
  border: 1px solid grey;
}
.sponsors img {
  display: flex;
  width: 60%;
  aspect-ratio: 2/2;
  object-fit: contain;
  justify-content: center;
  margin: auto;
  text-align: center;
}

/* MAPAS */
.mapas {
  text-align: center;
}
.mapas div h3 {
  color: black;
  display: flex;
  justify-content: center;
}

/* FOOTER */
.pie {
  border: 1px black solid;
}
.pie h4 {
  overflow: hidden;
}
.pie img {
  width: 30%;
}
.pie a {
  text-decoration: none;
  color: black;
}

/* Pagina Contacto */
/* FORM CONTACTO */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-contacto {
  width: 20em;
  border-radius: 8px;
  border: 1.2px solid #333;
  box-shadow: 5px 5px 10px rgba(117, 116, 116, 0.545);
}

.form-box {
  padding: 15px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: #f7f4f4;
}

.form-box input, .form-box textarea {
  width: 70%;
  height: 25px;
  padding: 3px 5px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.form-box textarea {
  height: 150px;
  min-height: 150px;
  max-height: 300px;
  resize: vertical;
}

.boton-enviar, .boton-cancelar {
  width: 12rem;
  border: 1px solid #333;
  border-radius: 8px;
}

/* PSEUDOCLASES FORM */
.form-box input:not(:focus), .form-box textarea:not(:focus) {
  background-color: #e9e8e8;
}

.form-box button:hover {
  background-color: #d8d8d8;
}

.row .dia2 {
  margin-top: 30px;
}

/* PAGINA ENTRADAS */
.entradas h1 {
  font-size: 4em;
}

.entradas2 {
  align-items: center;
  padding: 1em;
}

.detalle_entrada {
  border: 1px solid grey;
}

.btn-naranja {
  background-color: #f88111;
}

.btn-verde {
  background-color: #11c34c;
}

.btn-dorado {
  background-color: #d3c082;
}

/* MEDIA QUERY */
@media screen and (max-width: 576px) {
  /* COLUMNAS EN MOBILE */
  .cabecera, .bandas, .bandas2, .mapas, .entradas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }
  /* SPONSORS */
  .bandas img {
    width: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
