@import "partials/variables";
@import "partials/reset";
@import "partials/fonts";


body{
    width: $anchoMaximo;
    max-height: $totalPagina;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../media/fondo\ blanco.jpg);
}

/* SEPARACIÓN GRIDS */
.cabecera, .bandas, .sponsors, .mapas, .pie, .nosotros, .entradas1{
    // border: 1px solid grey;
    margin-bottom: 30px;
}

/* Inicio Barra Navegación */
.nvbarra{ 
    position: sticky;
    padding: 10px;
    width: $anchoMaximo;
    background-color: rgba(151, 151, 151, 0.212);
}

.nvbarra {
    ul{
    display: flex;
    justify-content: space-evenly;
    }

    a{
    text-decoration: none;
    color: rgba(22, 22, 22, 0.89);
    }
} 
/* checkbox-menu */
#checkbox-menu, label.menu{
    display: none;
}

label.menu{
    font-size: 20.8px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
/* Fin Barra de Navegación */


// ===================================== 
/* PAGINA INDEX */
// =====================================

/* HEADER */
.cabecera{
    background-image: url(../media/PUBLICO1.jpg);
    align-items: center;
    text-align: center;
    background-position: bottom;
    height: 350px;
    width: 100%;
    padding: 40px;
}

.carousel-inner{
    img{
        width: $anchoMaximo;
        aspect-ratio: 4/2;
        // object-fit: contain;
    }
    h3{
        font-size: 4vw;
        font-weight: bolder;
        overflow: hidden;
        color: white;
    }
}

/* SPONSORS */

.sponsors{ 

    img{
    display: flex;
    width: 60%;
    aspect-ratio: 2/2;
    object-fit: contain;
    justify-content: center;
    margin: auto;
    text-align: center;
    }
}

/* MAPAS */

.mapas {
    text-align: center;
    div h3{
    color: black;
    display: flex;
    justify-content: center;
    }
}

/* FOOTER */
.pie{
    border: 1px black solid;
    h4{
    overflow: hidden;
    }
    img{
        width: 30%;
    }
    a{
        text-decoration: none;
    }
}

// =====================
/* Pagina Contacto */
// =====================

/* FORM CONTACTO */
.form-container{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-contacto{
    width: 50vw;
    border-radius: 8px;
    border: 1.2px solid #333;
    box-shadow: 5px 5px 10px rgba(117, 116, 116, 0.545);
}
.form-box{
    padding: 15px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: #f7f4f4;
}
.form-box input, .form-box textarea{
    width: 70%;
    height: 25px;
    padding: 3px 5px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}
.form-box textarea{
    height: 150px;
    min-height: 150px;
    max-height: 300px;
    resize: vertical;
}
.boton-enviar, .boton-cancelar{
    width: 12rem;
    border: 1px solid #333;
    border-radius: 8px;
}


/* PSEUDOCLASES FORM */

.form-box input:not(:focus), .form-box textarea:not(:focus){
    background-color: #e9e8e8;
}

.form-box button:hover{
    background-color: #d8d8d8;
}

.row .dia2{
    margin-top: 30px;
}


// ============================
/* PAGINA ENTRADAS */
// ============================
.entradas h1{
    font-size: $h-1;
}

.entradas2{
    align-items: center;
    padding: 1em;
}

@import "partials/conditions";
@import "partials/queries";