@import "partials/variables";
@import "partials/reset";
@import "partials/fonts";


body{
    width: $anchoMaximo;
    max-height: $totalPagina;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../media/fondo\ blanco.jpg);
}

/* SEPARACIÓN GRIDS */
.cabecera, .bandas, .sponsors, .mapas, .pie, .nosotros, .entradas1{
    border: 1px solid grey;
    margin-bottom: 10px;
}

/* Inicio Barra Navegación */
.nvbarra{ 
    position: sticky;
    padding: 10px;
    width: $anchoMaximo;
    background-color: rgba(151, 151, 151, 0.212);
}

.nvbarra {
    ul{
    display: flex;
    justify-content: space-evenly;
    }

    a{
    text-decoration: none;
    color: rgba(22, 22, 22, 0.89);
    }
} 
/* checkbox-menu */
#checkbox-menu, label.menu{
    display: none;
}

label.menu{
    font-size: 20.8px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
/* Fin Barra de Navegación */


// ===================================== 
/* PAGINA INDEX */
// =====================================

/* HEADER */
.cabecera{
    background-image: url(../media/concert2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    padding: 40px;
}

/* BANDAS */
.bandas{
    p{
    display: flex;
    justify-content: center;
    }

    img{
    display: flex;
    width: $anchoMaximo;
    aspect-ratio: 4/2;
    object-fit: contain;
    margin: auto;
    }
}


/* SPONSORS */

.sponsors{ 
    img{
    display: flex;
    width: 60%;
    aspect-ratio: 3/2;
    object-fit: contain;
    justify-content: center;
    margin: auto;
    }

    p{
    display: flex;
    justify-content: center;
    }
}

/* MAPAS */

.mapas div p{
    display: flex;
    justify-content: center;
}

/* FOOTER */
footer{
    background-color: aliceblue;
}
.pie img{
    width: 30%;
}


// =====================
/* Pagina Contacto */
// =====================

/* FORM CONTACTO */
.form-container{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-contacto{
    width: 50vw;
    border-radius: 8px;
    border: 1.2px solid #333;
    box-shadow: 5px 5px 10px rgba(117, 116, 116, 0.545);
}
.form-box{
    padding: 15px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: #f7f4f4;
}
.form-box input, .form-box textarea{
    width: 70%;
    height: 25px;
    padding: 3px 5px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}
.form-box textarea{
    height: 150px;
    min-height: 150px;
    max-height: 300px;
    resize: vertical;
}
.boton-enviar{
    width: 12rem;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: rgb(53, 202, 53);
}
.boton-cancelar{
    @extend .boton-enviar;
    background-color: rgb(218, 120, 81);
}

/* PSEUDOCLASES FORM */

.form-box input:not(:focus), .form-box textarea:not(:focus){
    background-color: #e9e8e8;
}

.form-box button:hover{
    background-color: #d8d8d8;
}

.row .dia2{
    margin-top: 30px;
}


// ============================
/* PAGINA ENTRADAS */
// ============================
.entradas h1{
    font-size: $h-1;
}

.entradas2{
    align-items: center;
    padding: 1em;
}

@import "partials/conditions";
@import "partials/queries";