@font-face {
    font-family: 'DK Longreach';
    src: url(../fonts/DK\ Longreach.otf);
}

/* FUENTES Y COLORES DE TEXTO */
h1{
    font-size: $h-1;
    color: white;
    font-family: 'DK Longreach';
}

#titulo-bandas{
    font-size: 0.5em;
    text-align: center;
}

.cabecera p{
    font-weight: bolder;
    color: white;
}

h2{
    font-size: 5vw;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    overflow: hidden;
    color: black;
    font-family: 'DK Longreach'
    }

h3{
    @extend h2;
    font-size: 3em;
}