/* MEDIA QUERY */
@media screen and (max-width: 576px){

     /* COLUMNAS EN MOBILE */
   .cabecera, .bandas, .bandas2, .mapas, .entradas{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }  

    /* SPONSORS */
    .bandas img{
        width: 60%;
    }
}